<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1,IE=10, IE=9, IE=8"/>
    <meta name="renderer" content="webkit|ie-stand|ie-comp" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <meta name="keywords" content="天猫入驻,天猫商城入驻,天猫商城入驻代理,天猫入驻代理,网店入驻,网店入驻代理" />
    <meta name="title" content="天猫入驻_天猫商城入驻_网店入驻代理-一站式电商服务平台酷小二">
    <meta name="description" content="酷小二是国内领先的电商服务平台,提供天猫入驻，京东入驻,企业品牌包装等电商服务，包揽全类目入驻不玩概率，入驻成功后再收费，签订企业合同法律保障，入驻网店就找酷小二。" />
    <!-- 引入ico图标 -->
    <link rel="shortcut icon" href="../favicon.ico" />
    <!-- 引用浏览器初始化样式css文件 -->
    <link rel="stylesheet" href="../css/normalize.css">
    <!-- 引用公共css样式文件 -->
    <link rel="stylesheet" href="../css/common.css">
    <!--手机主页css样式文件-->
    <link rel="stylesheet" href="../css/mobile/index.css">
    <link rel="stylesheet" href="../css/mobile/ft-carousel.css">

    <script type="text/javascript" src="../javascript/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="../javascript/mobile/ft-carousel.min.js"></script>
    <script type="text/javascript" src="../javascript/utils.js"></script>
    <script type="text/javascript" src="../javascript/mobile/onkst.js"></script>
	<script type="text/javascript">  
		var phoneWidth =  parseInt(window.screen.width);  
		var phoneScale = phoneWidth/750;  
		var ua = navigator.userAgent;  
		if (/Android (\d+\.\d+)/.test(ua)){  
			var version = parseFloat(RegExp.$1);  
			if(version>2.3){  
				document.write('<meta name="viewport" content="width=750, minimum-scale = '+phoneScale+', maximum-scale = '+phoneScale+', target-densitydpi=device-dpi">');  
			}else{  
				document.write('<meta name="viewport" content="width=750, target-densitydpi=device-dpi">');  
			}  
		} else {  
			document.write('<meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi">');  
		}  

		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?5cc5773f8135b42949b7203f178b8ea0";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>  
</head>
<body>
    <!-- 头部区域开始 -->
    <header class="top-bar-Mobile" name="top">
        <div class="top-header-Mobile containerMobile">
            <div class="logoMobile">
                <a href="index.html" class="logo">
                    <img src="../images/mobile/logoMobile.png" alt="酷小二"/>
                </a>
            </div>
            <div class="phoneCallMobile"><p>‭400-100-3669‬</p></div>
        </div>
    </header>
    <!-- 头部区域结束 -->

    <!-- 主体区域开始 -->
    <section class="main clearfix">
        <!--banner 区域开始-->
        <div class="bannerInfoMobile containerMobile">
            <div class="textAll">
                <p id="textOne">酷小二，为您一站式解决入驻困难！</p>
                <div id="lineWhite"></div>
                <p id="textTwo">代入驻通过率高/入驻无忧</p>
            </div>
            <div class="allBtn">
                <a href="https://rytk20.kuaishang.cn/bs/im.htm?cas=122918___874793&fi=125383&ism=1" target="_blank"><div class="advisoryBtn"></div></a>
                <a href="#submit-inBG"><div class="enterInBtn"></div></a>
            </div>
        </div>
        <!--banner 区域结束-->

        <!--专业天猫全类目强势入驻 区域开始-->
        <div class="enterInStrong containerMobile">
            <div class="textStrong">
                <p id="textStrongOne">专业天猫全类目强势入驻</p>
                <p id="textStrongTwo">行业TOP级店铺操盘手一对一沟通运营计划</p>
            </div>
            <div class="enterInCategory">
                <div class="ft-carousel" id="carousel_2">
                    <ul class="carousel-inner">
                        <a href="https://rytk20.kuaishang.cn/bs/im.htm?cas=122918___874793&fi=125383&ism=1" target="_blank"><li class="carousel-item"><img src="../images/mobile/enterInPic/page_1.png"/></li></a>
                        <a href="https://rytk20.kuaishang.cn/bs/im.htm?cas=122918___874793&fi=125383&ism=1" target="_blank"><li class="carousel-item"><img src="../images/mobile/enterInPic/page_2.png"/></li></a>
                    </ul>
                </div>
            </div>
        </div>
        <!--专业天猫全类目强势入驻 区域结束-->

        <!--入驻困难 区域开始-->
        <div class="enterInTrouble containerMobile">
            <div class="textAllInfo">
                <p id="eitTextOne">入驻商城，您是否也遇到这些问题？</p>
                <p id="eitTextTwo">天猫入驻繁琐的流程费时又费力，多次入驻失败都打乱计划，招商不够开放，</p>
                <p id="eitTextThree">使之天猫入驻多次无门，淘宝的低流量又终日得不到改善。</p>
            </div>
            <div class="troubleInfo">
                <div class="oneTroubleBox stepTrouble1">
                    <div class="text">
                        <p class="title">品牌评估</p>
                        <p class="desInfo">提交被秒拒，品牌评估过不了，品牌市场影响力不符合天猫的定位，店铺综合实力不符合。</p>
                    </div>
                </div>
                <div class="oneTroubleBox stepTrouble2">
                    <div class="text">
                        <p class="title">天猫初审</p>
                        <p class="desInfo">品牌过了，总是在初审遇见失败，不清楚原因，开店主体存在风险，天猫不予以通过！</p>
                    </div>
                </div>
                <div class="oneTroubleBox stepTrouble3">
                    <div class="text">
                        <p class="title">90天限制</p>
                        <p class="desInfo">多次提交失败，提交后显示90天限制，开店公司在审核当中，没在天猫品牌池，各种原因让人望猫兴叹！</p>
                    </div>
                </div>
                <div class="oneTroubleBox stepTrouble4">
                    <div class="text">
                        <p class="title">成功率低</p>
                        <p class="desInfo">审核超时不明白，大量的时间都在排除审核，下店率低，完成了所有的流程还是被无情拒绝，甚至直接进入天猫黑名单!</p>
                    </div>
                </div>
            </div>
        </div>
        <!--入驻困难 区域结束-->

        <!--代入驻资质 区域开始-->
        <div class="qualification containerMobile">
            <div class="textAllInfo">
                <p id="qTextOne">代入驻基本资质条件</p>
                <p id="qTextTwo">GENERATION IN THE BASIC MATERIAL CONDITIONS</p>
            </div>
            <div class="needMaterial">
                <div class="enterpriseNeed"></div>
                <div class="personalNeed"></div>
            </div>
            <p id="pTextThree">注:根据平台和类目不同，可能有特殊资料、资质、年限等需求。(详情请咨询客服)</p>
            <a href="https://rytk20.kuaishang.cn/bs/im.htm?cas=122918___874793&fi=125383&ism=1" target="_blank">
                <div class="newAdvisoryBtn">
                    立即咨询
                </div>
            </a>
        </div>
        <!--代入驻资质 区域结束-->

        <!--服务流程 区域开始-->
        <div class="serviceProcess containerMobile">
            <div class="textAllInfo">
                <p id="spTextOne">商城代入驻服务流程</p>
                <p id="spTextTwo">INTO THE MALL IN THE PROCESS</p>
                <p id="spTextThree">一站式入驻服务，专业、高效、品牌保障，玩转电商行业</p>
            </div>
            <div class="serviceProcessPNG">

            </div>
        </div>
        <!--服务流程 区域结束-->

        <!-- 酷小二 提交入驻需求 区域开始 -->
        <div id="submit-inBG" class="submit-inBG containerMobile">
            <div class="submit-in">
                <div class="all-pos-top">
                    <p id="kuxiaoer-text-one">酷小二，不止帮您下店筑造电商梦</p>
                    <p id="kuxiaoer-text-two">也是您的左膀右臂陪您圆梦</p>
                </div>
                <div class="all-input">
                    <!-- 选择入驻平台 -->
                    <select id="select-in-type" class="select-in-type opacity">
                        <option value ="none">选择入驻平台</option>
                        <option value ="tmall">天猫入驻</option>
                        <option value ="jd">京东入驻</option>
                    </select>
                    <!-- 您的电话 -->
                    <input id="youPhone" class="opacity" type="text" name="youPhone" placeholder="您的电话" tabindex="1">
                    <!-- 您的 QQ -->
                    <input id="youQQ" class="opacity" type="text" name="youQQ" placeholder="您的 QQ" tabindex="2">
                    <!-- 请输入您的描述...... -->
                    <!-- <input id="youDescription" type="text" name="youDescription" placeholder="请输入您的描述......" tabindex="3"> -->
                    <textarea id="youDescription" class="opacity" name="youDescription" cols="40" rows="8" placeholder="请输入您的描述......"></textarea>
                    <button class="btn-submit" onclick="submitEnterPost()">提交入驻需求</button>
                </div>
            </div>
        </div>
        <!-- 酷小二 提交入驻需求 区域结束 -->
    </section>

    <!-- 底部区域开始 -->
    <footer class="footerMobile containerMobile">
        <div class="footer-linksMobile ">
            <div class="step_one">
                <a href="#">关于酷小二</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">售后政策</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">服务与支持</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">联系我们</a>
            </div>
            <div class="step_two">
                <span style="margin-right: 10px;">电话：‭400-100-3669‬</span><span style="margin-left: 10px;">QQ：3007303727</span>
            </div>
            <div class="step_three">
                <span>Copyright © 2019 <a href="http://www.miitbeian.gov.cn/" target="_blank"> 蜀ICP备19009830号-1</a> 版权所有 <br> 四川猫乐电子商务有限公司</span>
            </div>
        </div>
    </footer>
	<div class="fix-add" id="fix-add">
		<div class="item">
				<a href="tel:400-100-3669‬" target="_blank">
					<div>
						<img src="../../images/mobile/tel.jpg" alt="">
					</div>
					<span>联系客服</span>
				</a>
		</div>
		<div class="item">
			<a href="https://rytk20.kuaishang.cn/bs/im.htm?cas=122918___874793&fi=125383&ism=1" onclick="onKST();" target="_blank">
				<div>
					<img src="../../images/mobile/kf.jpg" alt="">
				</div>
				<span >在线咨询</span>
			</a>
		</div>
		<div class="item gotop">
			<div>
				<img src="../../images/mobile/top.jpg" alt="">
			</div>
			<span>返回顶部</span>
		</div>
	</div>
<span style="display:none;">
    <!-- 底部区域结束 -->
    <script type="text/javascript">

        function submitEnterPost () {
            var phoneNumber = $("#youPhone").val();
            if( !isMobileNumber( phoneNumber ) )
                return;
            var jsonData = {
                selectInType: $("#select-in-type").val(),
                youPhone: phoneNumber,
                youQQ: $("#youQQ").val(),
                youDescription: $("#youDescription").val()
            };
            $.ajax({
                type: "post",
                url: "/clientSubmit/submitEnter",
                data: jsonData,
            }).success(function(message) {
                console.log(message);
                if (message === 'ok')
                    alert("提交成功");
                else {
                    alert("提交失败");
                }
            }).fail(function(err){
                alert("提交失败");
            });
        }


        $("#carousel_2").FtCarousel({
            index: 0,
            auto: true,
            time: 5000,
            indicators: true,
            buttons: true
        });

    </script>
    <script type="text/javascript">
        $(function () {
            $("#fix-add .gotop").click(function () {
                $('html,body').stop(true, false).animate({scrollTop: '0px'}, 800);
            });
        });
    </script>
</body>
</html>
<script type="text/javascript" src="https://rytk20.kuaishang.cn/bs/ks.j?cI=874793&fI=125383&ism=1" charset="utf-8"></script>